.ipynb_checkpoints/
.vscode/
exp-02/__pycache__
exp-02/pretext_models
exp-03/__pycache__
exp-03/pretext_models
exp-03/processed_data
exp-04/__pycache__
exp-04/pretext_models
exp-04/processed_data